<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Empleados</title>
</head>
<body>
    <h1>Lista de Empleados</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>contrasena</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="empleado : ${empleados}">
                <td th:text="${empleado.id_usuario}">1</td>
                <td th:text="${empleado.nombre}">Nombre</td>
                <td th:text="${empleado.email}">Correo</td>
                <td th:text="${empleado.contrasena}">contrasena</td>
            </tr>
        </tbody>
    </table>
</body>
</html>